<ul class="nav nav-pills mb-4 gap-3 border-bottom border-secondary pb-3" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link tech-font btn-lg px-4 {% if request.url.path == '/ui/image' %}active{% endif %}" href="/ui/image">
            <i class="bi bi-images me-2"></i> WORKSPACE ẢNH
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link tech-font btn-lg px-4 {% if request.url.path == '/ui/video' %}active{% endif %}" href="/ui/video">
            <i class="bi bi-film me-2"></i> WORKSPACE VIDEO
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link tech-font btn-lg px-4 {% if request.url.path == '/ui/prompt' %}active{% endif %}" href="/ui/prompt">
            <i class="bi bi-gear-fill me-2"></i> QUẢN TRỊ PROMPT
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link tech-font btn-lg px-4 {% if request.url.path == '/ui/product' %}active{% endif %}" href="/ui/product">
            <i class="bi bi-boxes me-2"></i> QUẢN TRỊ SẢN PHẨM
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link tech-font btn-lg px-4 {% if request.url.path == '/ui/backgrounds' %}active{% endif %}" href="/ui/backgrounds">
            <i class="bi bi-boxes me-2"></i> BACKGROUND
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link tech-font btn-lg px-4 {% if request.url.path == '/ui/video-segments' %}active{% endif %}" href="/ui/video-segments">
            <i class="bi bi-film"></i> Phân cảnh
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link tech-font btn-lg px-4 {% if request.url.path == '/ui/poses' %}active{% endif %}" href="/ui/poses">
            <i class="bi bi-film"></i> Tư thế ảnh
        </a>
    </li>
</ul>